.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1;
}

.altura300 {
	height: 300px;
}

.margin_right5 {
	margin-right: 5px;
}